.gallery
    padding-bottom: 10px
    p
        width: 40vw

.gallery-section
    justify-content: center
    div
        overflow: hidden
    img
        
        transition: all 0.4s ease
        &:hover
            transform: scale(1.2)

.EventsSection

    background-image: url(../img/events-bg.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    padding-bottom: 15vh 
    position: relative
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.47)

.ind 
    width: 10px !important
    height: 10px !important
    &:focus
        background-color: $orange







    
  
    


    
    
   
   


        

    