.menu
    ul
        li
            button
                border: solid 2px $orange
                border-radius: 30px !important
                &:hover
                    background-color: $orange
                    color: #ffffff
                    border: solid 2px $orange
.nav-link .nav-pills
    background-color: #ffffff

.nav-link .nav-pills .active
    background-color: $orange !important
    color: #ffffff !important

h5
    font-family: meduim
    

.plat
    p
        font-family: comic


.special
    h3
        font-family: firstFont
        color: text
        text-align: center
    p
        font-family: meduim 
        color: text

