.menu
    ul
        li
            button
                border: solid 2px $orange
                border-radius: 30px !important
                &:hover
                    background-color: $orange
                    color: #ffffff
                    border: solid 2px $orange
                &:focus
                    background-color: $orange
                    color: white
.nav-link .nav-pills
    background-color: #ffffff

.nav-link .nav-pills .active
    background-color: $orange !important
    color: #ffffff !important

h5
    font-family: meduim
    

.plat
    p
        font-family: comic


.special
    h3
        font-family: firstFont
        color: text
        text-align: center
    p
        font-family: meduim 
        color: text

.events
    background-image: url(../images/events-bg.jpg)
    height: 100vh
    background-position: cover
    background-attachment: fixed
    background-size: 100%
    background-repeat: no-repeat
    position: relative
    
    &::before
        content: ""
        position: absolute
        height: 100%
        width: 100%
        top: 0
        background: #0e0d0d
        opacity: 0.5

.right-events
    h3
        font-family: firstFont
        color: $orange
    p
        span
            color: white
            border-bottom: solid 2px $orange
            border-bottom-width: 1px
    p
        color: #ffffffb0
        font-family: regular

        
    